<div id="<%= dom_id head %>">
  <p>
    <strong>Cedula:</strong>
    <%= head.cedula %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= head.name %>
  </p>

  <p>
    <strong>Sur name:</strong>
    <%= head.sur_name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= head.birthdate %>
  </p>

  <p>
    <strong>User:</strong>
    <%= head.user_id %>
  </p>

</div>
