<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Nombre", style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  
  <%= form.label :state_id %>
  <%= form.select :state_id, options_from_collection_for_select(State.all, :id, :state_name) %> 


    <div>
    <%= form.label :comuna, "Comuna", style: "display: block" %>
    <%= form.text_field :comuna %>
  </div>

   <div>
    <%= form.label :ubch, "UBCH", style: "display: block" %>
    <%= form.text_field :ubch %>
  </div>

  <div>
    <%= form.label :community, "Comunidad", style: "display: block" %>
    <%= form.text_field :community %>
  </div>
  <div>
    <%= form.label :street, "Calle", style: "display: block" %>
    <%= form.text_field :street %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
