<tr id="<%= dom_id city %>">
  <td>    
    <%= city.id %>
  </td>

  <td>
    <%= city.name %>
  </td>
   <td>
    <%= link_to "Editar", edit_city_path(city, state_id: city.state.id) %>
  </td>  

  <td>
  <%= button_to "Eliminar", city, method: :delete, data: {"turbo-confirm": '¿Quieres eliminar éste Estado?'} , class: "btn btn-danger" %>
  </td>

</tr>
