<%= render partial: "shared/report_head" %>

<div class="mt-1">
  <p class="text-center m-0"> Censo CLAP</p>
</div>

<%= render partial: "shared/user_header_data" %>

<div class="rounded-5 container text-bg-light p-3">
<table class="table table-striped">
  <thead>
    <tr>      
      <th scope="col">Cedula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Teléfono</th> 
      <th scope="col"># casa</th>
    </tr>
  </thead>
  <tbody>
    <% @heads.each do |head| %>
      <tr>
        <td>
          <%= head.cedula %>
        </td>
        <td>
          <%= head.name %> <%= head.sur_name %>
        </td>
        <td>
          <%= head.phone_number %>
        </td>
        <td>
          <%= head.home_number %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>