<%= render partial: "shared/report_head" %>
<div class="mt-1">
  <p class="text-center m-0"> Censo Jefes de Hogar con "Hogares de la patria"</p>
  </div>
<div class="d-flex p-4 justify-content-around">
  <p>Lider de calle: <%= @user.name %></p>
  <p>Calle: 108B</p>
  <p>Total de Jefes de hogar: <%= @count %></p>
</div>
<div class="rounded-5 container text-bg-light p-3">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Cédula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Hogares de la patria</th>
    </tr>
  </thead>
  <tbody>
    <% @heads.each do |head| %>    
      <tr>
        <td><%= head.cedula %></td>
        <td><%= head.name %> <%= head.sur_name %></td>
        <td><%= head.phone_number %></td>
        <td>Sí</td>
      </tr>
    <% end %>
      <% @heads_without_hogares.each do |head| %>    
      <tr>
        <td><%= head.cedula %></td>
        <td><%= head.name %> <%= head.sur_name %></td>
        <td><%= head.phone_number %></td>
        <td>No</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<p><%=@heads.size%><%= @heads_without_hogares.size %></p>
