<div id="<%= dom_id member %>">
  <p>
    <strong>Cedula:</strong>
    <%= member.cedula %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Sur name:</strong>
    <%= member.sur_name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= member.birthdate %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= member.relationship %>
  </p>

  <p>
    <strong>Head:</strong>
    <%= member.head_id %>
  </p>

</div>
